/.git
/.github
/.vscode
/node_modules
pnpm-lock.yaml
**/*.pdf
**/*.png
**/*.gif
**/*.jpeg

# .vitepress
/docs/.vitepress/cache
/docs/.vitepress/dist
/docs/.vitepress/public


/docs/public/img
/docs/public/images